<div class="main-container gray-container">  
  <div class="main wrapper clearfix">
    
    <%= render :partial => "register/breadcrumbs", :locals => {step_no: 1} %>

    <%= form_for :user, url: '/register', html: {multipart: true, class: 'register_form'} do |f| %>
    <section>
      <h2>Account information</h2>
      <fieldset>
        <div class="col1">
	  <legend>Email*</legend>
          <%= f.text_field :email %>
          <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :email} %>
          
	  <legend>First name*</legend>
          <%= f.text_field :first_name %>
          <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :first_name} %>
          
	  <legend>Last name*</legend>
          <%= f.text_field :last_name %>
          <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :last_name} %>

	  <legend>Password*</legend>
          <%= f.password_field :password %>
          <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :password} %>
          
	  <legend>Confirm password*</legend>
          <%= f.password_field :password_confirmation %>
          <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :password_confirmation} %>
          
        </div>
        <div class="col2 profile-photo">
	  <legend>Profile photo</legend>
          <div id="photo-drop-zone" class="photo place-holder">
	    <p>Drag image here<br>or</p>
            <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>  
              <%= hidden_field_tag attribute, '', :id => attribute %>  
            <% end %>  
	    <%= f.file_field :avatar, id: :files %>
	    <!-- <input type="file" id="files" accept="image/*" name="files[]" /> -->
	  </div>
	  <p id="status"></p>
        </div>
        
      </fieldset>
    </section>


    
    <footer>
      <a href="#" class="submit btn-blue">Next</a>	
      <div class="clearfix"></div>
    </footer>
<% end  %>

    <% content_for :register_photo do %>
    <div id="crop-photo-holder" class="modal-window-holder">
      <div class="window">
        <header>
          <h3>Crop photo</h3>
          <a href="#" class="close"></a>
          <div class="clearfix"></div>
        </header>
        
        <section class="cropper">
          
        </section>
        
        <section>
          <a href="#" class="submit btn-blue">Done</a>
        </section>
        
      </div>
      <div class="bg"></div>
    </div>
    <% end %>

  </div> <!-- #main -->      
  
</div> <!-- #main-container -->
