<% content_for :register_breadcrumbs do %>
<%= render :partial => "register/breadcrumbs", :locals => {step_no: 2} %>
<% end %>

<%= form_for :user, url: '/register2', html: {class: 'register_form'} do |f| %>
<section>
  <h2>Professional information</h2>
  <fieldset>
    <div class="col-wide">
      <legend>Bio</legend> 
      <%= f.text_area :bio, rows: 4 %>
      <%= render :partial => 'error', :locals => {attr: :bio} %>

      <legend>Specialties</legend>
      <%= f.text_field :specialities, class: "specialities tags", id: :tags_1 %>
      <%= render :partial => 'error', :locals => {attr: :bio} %>

      <legend>Memberships</legend>
      <textarea class="memberships" rows="2"></textarea>

      <legend>Licensed in</legend>
      <input type="text">

      <legend>Languages</legend>
      <input type="text">
	
      <div class="col1">
	<legend>LinkedIn</legend>
	<input type="text">
      </div>
      <div class="col2">
	<legend>Twitter</legend>
	<input type="text">
      </div>
    </div>    
    </fieldset>
  </section>
  
  <footer>
    <a href="/register" class="previous btn-gray-med">Previous</a>
    <a href="#" class="submit btn-blue">Next</a>
    <a href="/register3" class="skip btn-gray-med">Skip this step</a>
    <div class="clearfix"></div>
  </footer>
  
<% end  %>