<div class="main-container gray-container">  
  <div class="main wrapper clearfix">
    <%= render :partial => "register/breadcrumbs", :locals => {step_no: 2} %>

    <%= form_for :user, url: '/register2', html: {class: 'register_form'} do |f| %>

    <section>
      <h2>Professional information</h2>
      <fieldset>
        <div class="col-wide">
	  <div class="col1">
	    <legend>Company name</legend> 
	    <%= f.text_field :company_name %>
	    <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :company_name} %>
	  </div>
	  <div class="col2">
	    <legend>Job title</legend>
	    <%= f.text_field :job_title %>
	    <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :job_title} %>
	  </div>
	  
          <legend>Bio</legend> 
          <%= f.text_area :bio, rows: 4 %>
          <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :bio} %>

          <legend>Specialties</legend>
          <%= f.text_field :specialities, class: "specialities tags", id: :specialities_tags, value: as_tags_csvs(@user.specialities.to_a) %>
          <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :specialities} %>

          <legend>Memberships</legend>
          <%= f.text_field :memberships, class: "memberships tags", id: :memberships_tags, value: as_tags_csvs(@user.memberships.to_a) %>
          <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :memberships} %>

        </div>    
      </fieldset>
    </section>

	<section>
	  <h2>Contact Information</h2>
	  <fieldset>
	    <div class="col-wide">
              
	      <div class="col1">
      		<legend>website</legend>
		<%= f.text_field :company_website %>
		<%= render :partial => 'error', :locals => {errors: @user.errors, attr: :company_website} %>
	      </div>
	      <div class="col2">
	    	<legend>LinkedIn</legend>
            	<%= f.text_field :linkedin_handle %>
            	<%= render :partial => 'error', :locals => {errors: @user.errors, attr: :linkedin_handle} %>
	      </div>
	      <legend>Phone number</legend>
	      <div class="phone">
		<b>1</b>
	        <%= f.text_field :phone_1, maxlength: 3 %>
	        <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :phone_1} %>
	        <b>&ndash;</b>
	        <%= f.text_field :phone_2, maxlength: 3 %>
	        <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :phone_2} %>
	        <b>&ndash;</b>
	        <%= f.text_field :phone_3, maxlength: 4 %>
	        <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :phone_3} %>
		<div class="clearfix"></div>
	      </div>

	      <div class="col1">
		<legend>Address 1</legend>
	        <%= f.text_field :address_1 %>
	        <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :address_1} %>
	      </div>
	      <div class="col2">
		<legend>Address 2</legend>
	        <%= f.text_field :address_2 %>
	        <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :address_2} %>
	      </div>
	      <div class="col1">
		<legend>City</legend>
	        <%= f.text_field :city %>
	        <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :city} %>
	      </div>
	      <div class="col2-1">
		<legend>State</legend>
	        <%= f.text_field :state %>
	        <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :state} %>
	      </div>
	      <div class="col2-2">
		<legend>Zip</legend>
	        <%= f.text_field :zip %>
	        <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :zip} %>
	      </div>
	    </div>

	  </fieldset>
	</section>


	
    <footer>
      <a href="#" class="submit btn-blue">Next</a>
      <div class="clearfix"></div>
    </footer>
    
<% end  %>
  </div> <!-- #main -->      
  
</div> <!-- #main-container -->
