<div class="main-container gray-container">  
  <div class="main wrapper clearfix">
    
    <%= render :partial => "register/breadcrumbs", :locals => {step_no: 1} %>

    <%= form_for :user, url: '/register', html: {multipart: true, class: 'register_form'} do |f| %>
    <section>
      <h2>Account information</h2>
      <fieldset>
        <div class="col1">
	  <legend>Email*</legend>
          <%= f.text_field :email %>
          <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :email} %>
          
	  <legend>First name*</legend>
          <%= f.text_field :first_name %>
          <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :first_name} %>
          
	  <legend>Last name*</legend>
          <%= f.text_field :last_name %>
          <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :last_name} %>

	  <legend>Password*</legend>
          <%= f.password_field :password %>
          <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :password} %>
          
	  <legend>Confirm password*</legend>
          <%= f.password_field :password_confirmation %>
          <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :password_confirmation} %>
          
        </div>
        <div class="col2 profile-photo">
	  <legend>Profile photo</legend>
          <div id="photo-drop-zone" class="photo place-holder">
	    <p>Drag image here<br>or</p>
            <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>  
              <%= hidden_field_tag attribute, '', :id => attribute %>  
            <% end %>  
	    <%= f.file_field :avatar, id: :files %>
	    <!-- <input type="file" id="files" accept="image/*" name="files[]" /> -->
	  </div>
	  <p id="status"></p>
        </div>
        
      </fieldset>
    </section>

    <section>
      <h2>Professional information</h2>
      <fieldset>
        <div class="col-wide">
          <legend>Bio</legend> 
          <%= f.text_area :bio, rows: 4 %>
          <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :bio} %>

          <legend>Specialties</legend>
          <%= f.text_field :specialities, class: "specialities tags", id: :specialities_tags, value: as_tags_csvs(@user.specialities.to_a) %>
          <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :specialities} %>

          <legend>Memberships</legend>
          <%= f.text_field :memberships, class: "memberships tags", id: :memberships_tags, value: as_tags_csvs(@user.memberships.to_a) %>
          <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :memberships} %>

          <div class="col1">
	    <legend>LinkedIn</legend>
            <%= f.text_field :linkedin_handle %>
            <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :linkedin_handle} %>
          </div>
          <div class="col2">
	    <legend>Twitter</legend>
            <%= f.text_field :twitter_handle %>
            <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :twitter_handle} %>
          </div>
        </div>    
      </fieldset>
    </section>

	<section>
	  <h2>Information about your firm</h2>
	  <fieldset>
	    <div class="col-wide">
	      <legend>Company name</legend> 
	      <%= f.text_field :company_name %>
	      <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :company_name} %>

	      <legend>Company website</legend>
	      <%= f.text_field :company_website %>
	      <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :company_website} %>

	      <legend>Your job title</legend>
	      <%= f.text_field :job_title %>
	      <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :job_title} %>

	      <legend>Phone number</legend>
	      <div class="phone">
		<b>1</b>
	        <%= f.text_field :phone_1, maxlength: 3 %>
	        <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :phone_1} %>
	        <b>&ndash;</b>
	        <%= f.text_field :phone_2, maxlength: 3 %>
	        <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :phone_2} %>
	        <b>&ndash;</b>
	        <%= f.text_field :phone_3, maxlength: 4 %>
	        <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :phone_3} %>
		<div class="clearfix"></div>
	      </div>

	      <div class="col1">
		<legend>Address 1</legend>
	        <%= f.text_field :address_1 %>
	        <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :address_1} %>
	      </div>
	      <div class="col2">
		<legend>Address 2</legend>
	        <%= f.text_field :address_2 %>
	        <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :address_2} %>
	      </div>
	      <div class="col1">
		<legend>City</legend>
	        <%= f.text_field :city %>
	        <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :city} %>
	      </div>
	      <div class="col2-1">
		<legend>State</legend>
	        <%= f.text_field :state %>
	        <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :state} %>
	      </div>
	      <div class="col2-2">
		<legend>Zip</legend>
	        <%= f.text_field :zip %>
	        <%= render :partial => 'error', :locals => {errors: @user.errors, attr: :zip} %>
	      </div>
	    </div>

	  </fieldset>
	</section>
    
    <footer>
      <a href="#" class="submit btn-blue">Next</a>	
      <div class="clearfix"></div>
    </footer>
<% end  %>

    <% content_for :register_photo do %>
    <div id="crop-photo-holder" class="modal-window-holder">
      <div class="window">
        <header>
          <h3>Crop photo</h3>
          <a href="#" class="close"></a>
          <div class="clearfix"></div>
        </header>
        
        <section class="cropper">
          
        </section>
        
        <section>
          <a href="#" class="submit btn-blue">Done</a>
        </section>
        
      </div>
      <div class="bg"></div>
    </div>
    <% end %>

  </div> <!-- #main -->      
  
</div> <!-- #main-container -->
